header {
    display: flex;
    justify-content: space-evenly;


}

header div {
    display: flex;
    font-size: 1.5rem;
    border: 2px black solid;
    align-items: center;
    justify-content: center;
}

#numFiche, #numAffaire {
    width: 30%;
}

#titre {
    width: 100%;
}
h1 {
    font-size: 1.5rem;
}